* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.chatbox {
  width: 50%;
  height: 475px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  background: rgb(44, 32, 32);
  border-radius: 10px;
}

.header {
  background: #e20321dc;
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
}

.avail {
  font-size: 12px;
  padding: 0 20px;
}

.avail::after {
  content: "";
  display: inline-block;
  background: rgb(4, 180, 4);
  width: 10px;
  height: 10px;
  margin: 0 3px;
  vertical-align: middle;
  border-radius: 50%;
}

.body {
  background: rgb(44, 32, 32);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

input {
  height: 50px;
  width: 100%;
}

input[type="text"] {
  padding: 0 10px;
}

input[type="submit"] {
  height: 25px;
  border: 0;
  background: #c9021ddc;
  font-weight: 500;
  font-size: 17px;
  color: aliceblue;
  cursor: pointer;
}
.visible {
  display: block;
}

.none {
  display: none;
}

.me {
  width: 55%;
  height: auto;
  padding: 10px;
  margin: 5px;
  background-color: antiquewhite;
  border-radius: 10px;
  float: right;
  text-align: right;
  display: block;
}

.alicia {
  width: 60%;
  height: auto;
  padding: 10px;
  margin: 5px;
  background-color: rgb(119, 196, 231);
  border-radius: 10px;
  float: left;
  text-align: left;
  display: block;
}
