body{
	margin-left: 0px;
	margin-top: 0px;
	background-color: #cce6ff;
}

#confirmation{
	font-family: "Verdana", Times, serif;
	color: orange;
	font-weight:bold;
	font-size: 19px;
	width:100%;
	text-align: center;
	position:fixed;
	text-shadow:1px 1px 0px black;
}

.button{
 	position:fixed;
	transform:translate(-50%,0);
	width:40%;
	height:7%;
	border-radius:10px;
	font-weight:bold;
	font-size: 19px;
}

#noButton{
	left:25%;
	bottom:85%;
	background-color: #ff6666;
}

#yesButton{
	left:75%;
	bottom:85%;
	background-color: #99e699;
}

#helpBox{
   display:none;
   width:70%;
   position: fixed;
   bottom: 75%;
   left: 50%;
   transform:translate(-50%,0);
}

#helpButton{
	display: none;
   bottom: 67.5%;
   left: 50%;
   background-color: orange;
}

#textBox{
	position:fixed;
	width:70%;
	bottom:5%;
}
#chatButton{
	position:fixed;
	bottom:5.5%;
	left:75%;
	width: 20%;
	height:7%;
}

#trainArea{
	height:35%;
	background-color: #cccccc;
	width:100%;
	position: fixed;
	display:none;
	z-index:2;
	border: 1px solid black;
}